@font-face {
  font-family: Zapfino;
  src: url("../assets/Zapfino.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, "trebuchet MS", sans-serif;
  background-color: rgb(211, 211, 211);
}

h1 {
  font-family: Zapfino;
}

.nav-menu {
  margin: 10px 15px;
  padding: 10px 20px;
}

a {
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 0.3s;
}

a.hide {
  display: none;
}

a:hover {
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.title {
  font-family: Zapfino;
  padding-bottom: 20px;
  color: none;
}
